<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/styles/error-auth.css" />
  </head>
  <body>
    <h1>Para acessar esta página é necessário realizar login</h1>
    <a href="/"><button>Login</button></a>
  </body>
</html>
