<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./head') %>
  </head>
  <body>
    <section class="add-user-section">
      <a href="../add-users" class="add-user-link">
        <button class="add-user-button">Adicionar usuário</button>
      </a>
    </section>
  </body>
</html>
