<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./head') %>
  </head>
  <body>
    <section class="export-user-section">
      <a href="/generate-csv">
        <button class="export-user-button">Exportar Usuários CSV</button></a
      >
    </section>
  </body>
</html>
